@font-face {
    font-family: "NotoSans";
    src: url("./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NotoSans", sans-serif;
}

*:focus,
*:focus-visible {
  outline: 2px solid #ff6600;
  box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.25);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ebf4fd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

btn:focus,
btn:focus-visible {
  outline: 2px solid #ff6600;
  box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.25);
  border-radius: 5px;
}

#themeBtn {
  background-color: #efeeed;
  padding: 0.6rem;
}

#themeBtn:hover {
  background-color: #dcdcdc;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.btn-check:checked + .btn {
  background-color: #C4271F !important;
  color: #fff !important;
  border-color: #C4271F !important;
}

.btn {
  background-color: #FDFDFD;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.card{
  transition: background 0.2s, box-shadow 0.2s;
}

.card-footer>.btn:hover{
  background-color: #C4271F;
  color: #fff
}


.custom-switch-red.form-check-input:checked {
  background-color: #C4271F;
  border-color: #C4271F;
}

.custom-switch-red.form-check-input {
  width: 2.2em;
  height: 1.2em;
  margin-top: 0;
  box-shadow: none;
  cursor: pointer;
}

.custom-switch-red.form-check-input:focus {
  box-shadow: 0 0 0 0.15rem rgba(217,83,79,.25);
}

body.bg-dark {
  background: linear-gradient(360deg, #0A1541, #04091C);
  transition: all 0.2s;
}

.bg-dark .navbar,
.bg-dark .card,
.bg-dark .card-footer,
.bg-dark .btn {
  background-color: #1F2535 !important;
  color: #fff !important;
  transition: background 0.2s, box-shadow 0.2s;
}

.bg-dark .card {
  box-shadow: 0 2px 16px 0 #10131b;
  transition: background 0.2s, box-shadow 0.2s;
}

.bg-dark .card-footer {
  background: transparent !important;
  border: none !important;
}

.bg-dark .btn-check:checked + .btn,
.bg-dark .btn.active,
.bg-dark .btn:active {
  background-color: #C4271F !important;
  color: #fff !important;
  border-color: #C4271F !important;
}

.bg-dark .btn {
  background-color: #1F2535 !important;
  color: #fff !important;
  transition: background 0.2s, color 0.2s, border 0.2s;
}

.bg-dark .btn:hover {
  background-color: #313a4d !important;
  color: #fff !important;
}

.bg-dark .card .btn:hover {
  background-color: #C4271F !important;
  border: solid 1px #C4271F !important;
  color: #fff !important;
}

.bg-dark .form-check-input:checked {
  background-color: #C4271F !important;
  border-color: #C4271F !important;
}

.bg-dark .form-check-input {
  background-color: #232b3b !important;
  border-color: #313a4d !important;
  transition: background 0.2s, border 0.2s;
}

.bg-dark .attribution {
  color: #7a859e !important;
}

.bg-dark .card-title {
  color: #fff !important;
}

.bg-dark .card-text {
  color: #bfc8e6 !important;
}

.bg-dark .navbar {
  box-shadow: 0 2px 16px 0 #10131b;
}

.bg-dark .shadow {
  box-shadow: 0 2px 16px 0 #10131b !important;
}

.bg-dark .form-check-input:focus {
  box-shadow: 0 0 0 0.15rem rgba(196,39,31,.25) !important;
}